<!-- <div>
  <app-hello></app-hello>
</div> -->
<div>
  <!-- <nav>
    <a routerLink="/" routerLinkActive="active">New</a>
    <span style="margin: 5px;">|</span>
    <a routerLink="/other" routerLinkActive="active">Other</a>
  </nav>
  <router-outlet></router-outlet> -->
  <h1>The list:</h1>
  <app-add-to-list-component></app-add-to-list-component>
  <app-remove-item-component></app-remove-item-component>
  <app-update-item-component></app-update-item-component>
  <app-list-component></app-list-component>

  <p>CAR OPEARATIONS</p>
  <app-car-info></app-car-info>
</div>
